@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

.custom-button {
  background-color: #e24b3d !important;
  border-color: #d46157 !important;
  color: white !important;
}

.linknondecorato {
  font-weight: normal !important;
  color: #e24b3d !important;
}

main {
  font-family: "Quicksand", sans-serif;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdab9;
  flex-direction: column;
}

/* CreaIndumento.css */
.indumento-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffdab9;
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {
  .indumento-container {
    min-height: calc(40em);
  }
}
