@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

.custom-button {
  background-color: #e24b3d !important;
  border-color: #d46157 !important;
  color: white !important;
}

.linknondecorato {
  font-weight: normal !important;
  color: #e24b3d !important;
}

main {
  font-family: "Quicksand", sans-serif;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdab9;
  flex-direction: column;
}

/* CreaIndumento.css */
.indumento-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffdab9;
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {
  .indumento-container {
    min-height: calc(40em);
  }
}

.logo {
  width: 150px;
  height: auto;
  margin: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  width: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff9c4 !important;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  color: #666;
}

.delete-button {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .custom-modal {
    max-width: 300px;
    margin: 1.75rem auto;
    text-align: center;
  }
}
